### PROTECT FILES ###
<FilesMatch "\.(htacces|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule Home streksp.html
RewriteRule Account account.html
RewriteRule Random-Chat randomchat.html
RewriteRule	Contact contact.html